.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px 18px;

  border-radius: 100px;
  background: #f2f4f7;
  mix-blend-mode: multiply;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;

  white-space: nowrap;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #101828;
}
