.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 145px;
  height: 56px;
  padding: 16px 32px;

  border: 1px solid #dadde1;
  border-radius: 200px;

  background: #fff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #101828;
  white-space: nowrap;
}

.button:hover {
  border-color: #6d7b75;
}
